<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      testing
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<!--check network-->
<!-- <div onload="checkNetwork()"></div> -->

<!-- <ion-content>
  <iframe src="https://www.sportsplus.pk"  style="width:100%;height:100%" scrolling="yes" ></iframe>
</ion-content> -->

<!-- <ion-button (click)='demo1()'>demo1</ion-button> -->
<!-- <div onload="demo1()"></div> -->